# Introduction to Pandas

Pandas is built on top of Numpy. Used in Data cleaning, analysis, preparation etc.

# Series

similar to Numpy array except Series can have axis labels, can hold any arbitrary Python object

In [1]:
import numpy as np
import pandas as pd

In [39]:
labels = ['a1','b1','c1']

lst = [1,2,3]
arr = np.array([1,2,3])
dic = {'a' : 1, 'b' : 2, 'c':3}

In [40]:
pd.Series(data=lst)

0    1
1    2
2    3
dtype: int64

In [21]:
pd.Series( index=labels,data=lst)

a1    1
b1    2
c1    3
dtype: int64

In [22]:
pd.Series(lst,labels)

a1    1
b1    2
c1    3
dtype: int64

In [23]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [24]:
pd.Series(arr,labels)

a1    1
b1    2
c1    3
dtype: int32

In [25]:
pd.Series(dic)

a    1
b    2
c    3
dtype: int64

In [34]:
ser1 = pd.Series(data = [10,20,30,40],index = ['India','Japan','USSR','SL'])
ser1

India    10
Japan    20
USSR     30
SL       40
dtype: int64

In [27]:
ser1['USSR']

30

In [28]:
ser1['Japan']

20

In [35]:
ser2 = pd.Series(data=[10,20,50,40], index = ['USA','Germany','India','Japan'])
ser2

USA        10
Germany    20
India      50
Japan      40
dtype: int64

In [36]:
ser1+ser2

Germany     NaN
India      60.0
Japan      60.0
SL          NaN
USA         NaN
USSR        NaN
dtype: float64